%COPYRIGHT_LINE%

%MY_HEADER_INCLUDE_DIRECTIVE%

#define LOCTEXT_NAMESPACE "%LOCTEXT_NAMESPACE%"

void %PREFIXED_CLASS_NAME%::RegisterCommands()
{
    UI_COMMAND(NewCommand, "New Command...", "Creates a new command description", EUserInterfaceActionType::Button, FInputChord());
}

#undef LOCTEXT_NAMESPACE

